@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

header {
  position: relative;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  width: 100vw;
  height: 7vh;
  background-color: rgba(84, 6, 156, 0.767);
  align-items: center;
}

header img {
  width: 36px;
  height: 36px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: start;
  width: fit-content;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
  white-space: nowrap;
  text-overflow: clip;
}

nav {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}

header ul {
  gap: 20px;
  display: flex;
}

i {
  cursor: pointer;
}

header,
ul,
li,
.categories_logo,
.categories_p {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
  transition: all 0.3s ease-in; /* Changed ease-in to ease-in-out and adjusted duration */
  animation-duration: 1s; /* Changed from 1000 to 1s for consistency */
}

header ul li:hover {
  font-weight: 900;
  font-size: 20px;
}

#burger-menu {
  display: none;
}

.nav-icon-list {
  display: flex;
  gap: 20px;
}

#template-image {
  width: 100%;
  border-radius: 20px;
  background-attachment: fixed;
  height: 500px;
  background-position: bottom;
  position: relative;
  overflow: hidden;
  background-color: red;
  background-size: cover;
  background-image: url("../images/back-template.jpg");
}

.landing {
  width: 100vw;
  padding: 20px 10px;
  background-color: #d6d4d4;
  overflow-x: hidden;
}

#image-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 60px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: rgba(0, 0, 0, 0.692);
}

#image-overlay button {
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  color: black;
  font-weight: 700;
  font-family: monospace;
  border: none;
}
section {
  width: 100vw;
  flex-direction: column;
  height: 100vh;
}

.categories,
.offers,
.recomendations,
.bestsellers,
.new,
.parts {
  width: 100%;
  min-height: 400px;
  padding: 20px;
  color: black;
  font-family: sans-serif;
  position: relative;
  font-size: 30px;
  column-gap: 30px;
}

.categories h1,
.offers h1,
.recomendations h1,
.bestsellers h1,
.new h1,
.parts h1 {
  font-weight: 500;
}

.categories_list,
.offer_list,
.recomendations_list,
.bestsellers_list,
.new_list,
.parts_list {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.offer_card {
  width: 40%;
  height: 300px;
  background-color: red;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: -25px;
}
.category_card {
  width: 340px;
  height: 220px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.bestsellers_card {
  width: 236px;
  height: 284px;
  border-radius: 20px;
  padding: 20px 25px 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.recomendation_card {
  width: 236px;
  height: 284px;
  border-radius: 20px;
  padding: 20px 25px 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.new_card {
  width: 30%;
  height: 250px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 20px;
  background-color: white;
  border: 1px solid #a38a68;
  background-image: url(../images/backgroundimg.jpg);
}

.parts_card {
  width: 30%;
  height: 250px;
  border-radius: 20px;
  padding: 20px 10px 10px 30px;
}

.categories_logo {
  width: 70px;
  height: 70px;
  flex-shrink: 0;
  display: flex;
}

.offer_card,
.category_card,
.bestsellers_card,
.recomendation_card,
.parts_card {
  background-color: white;
  border: 1px solid #a38a68;
  background-image: url(../images/backgroundimg.jpg);
}

.offer_p, 
.categories_p,
.bestsel_p,
.new_p,
.part_p,
.recomend_p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  color: #000000;
}
.categories_p {
  width: 110px;
  font-size: 32px;
  font-style: normal;
  line-height: normal;
}

.recomend_p {
  width: 200px;
  height: 100px;
  font-size: 20px;
}

.offer_img {
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-self: baseline;
  justify-self: flex-end;
}

.offer_p {
  font-size: 20px;
}

.recomend_img {
  width: 200px;
  height: 200px;
}

.bestsel_img {
  width: 116px;
  height: 174px;
  flex-shrink: 0;
  display: flex;
  justify-self: center;
}

.bestsel_p {
  width: 210px;
  height: 48px;
  flex-shrink: 0;
  font-size: 15px;
  font-style: normal;
  line-height: normal;
}

.new_img {
  width: 200px;
  height: 200px;
  display: flex;
}

.new_p{
  width: 150px;
  font-size: 25px;
}

.part_img{
  width: 30%;
  height: 70%
}

.seemore_button{
display: flex;
width: 156px;
height: 46px;
padding: 10px 19px;
justify-content: center;
align-items: center;
gap: 8px;
flex-shrink: 0;
border-radius: 8px;
background: #588bfa;
padding: 10px 19px 10px 19px;
}

.seemore_button a{
color: #302923;
text-align: center;
font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  color: #000000;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.32px;
text-transform: capitalize;

}




@media only screen and (max-width: 720px) {
  nav {
    display: none;
  }

  #burger-menu {
    display: block;
  }
}


@media only screen and (max-width: 450px) {
  .landing h1 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 750px) {
  .offer_card p {
    font-size: 20px;
  }

}

@media only screen and (max-width: 1000px) {
  .part_p{
    font-size: 20px;
    width: 80px;
  }
  .part_img{
    width: 70px;
    height: 70px;
  }
}


@media only screen and (max-width: 750px) {
  .offer_img,
  .bestsel_img {
    width: 150px;
    height: 150px;
  }
}

@media only screen and (max-width: 750px) {
  .bestsellers_card {
    padding: 70px 30px;
  }
}

@media only screen and (max-width: 750px) {
  .recomendations_list,
  .new_list,
  .parts_list,
  .offer_list {
    display: flex;
    flex-direction: column;
  }
  .recomendation_card,
  .parts_card,
  .offer_card,
  .category_card,
  .bestsellers_card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .recomendation_card {
    flex-direction: column;
  }
}

@media only screen and (max-width: 800px) {
  .new_p {
    font-size: 10px;
  }
  .new_img {
    width: 100px;
    height: 100px;
  }
}

@media only screen and (max-width: 1400px) {
  .new_p {
    font-size: 15px;
  }
  .new_img {
    width: 100px;
    height: 100px;
  }
}

@media only screen and (max-width: 750px) {
  .new_list,
  .parts_list {
    display: flex;
    flex-direction: column;
  }
  .new_card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .recomendation_card {
    flex-direction: column;
  }
}
@media only screen and (max-width: 400px) {
  .bestsel_p {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    width: 100px;
  }
}

@media only screen and (max-width: 400px) {
  .recomend_p {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    width: 100px;
  }
  .recomend_img {
    width: 150px;
    height: 150px;
  }
}
