@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
header {
  position: sticky;
  top: 0;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  width: 100%;
  height: 7vh;
  background-color: rgba(84, 6, 156, 0.767);
  align-items: center;
  z-index: 10; /* Ensure it stays above other content */
}

.header-stop {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 70vh; /* The point where the header should stop being sticky */
  top: 50vh; /* This value should be the same as height */
}

header img {
  width: 36px;
  height: 36px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: start;
  width: fit-content;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
  white-space: nowrap;
  text-overflow: clip;
}

nav {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}

header ul {
  gap: 20px;
  display: flex;
}

i {
  cursor: pointer;
}
header ul, li{
  color: white;
}

.white_a{
  color: white;
}
header,
ul,
li,
.categories_logo,
.categories_p {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
  transition: all 0.3s ease-in; /* Changed ease-in to ease-in-out and adjusted duration */
  animation-duration: 1s; /* Changed from 1000 to 1s for consistency */
}

header ul li:hover {
  font-weight: 900;
  font-size: 20px;
}

#burger-menu {
  display: none;
}

.nav-icon-list {
  display: flex;
  gap: 20px;
}

#template-image {
  width: 100%;
  border-radius: 20px;
  background-attachment: fixed;
  height: 500px;
  background-position: bottom;
  position: relative;
  overflow: hidden;
  background-color: red;
  background-size: cover;
  background-image: url("../images/back-template.jpg");
}

.landing {
  width: 100%;
  padding: 20px 10px;
  background-color: #d6d4d4;
  min-height: 100vh;
}

#image-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 60px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: rgba(0, 0, 0, 0.692);
}

#image-overlay button {
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  color: black;
  font-weight: 700;
  font-family: monospace;
  border: none;
}
section {
  width: 100%;
  flex-direction: column;
 min-height: 100vh;
}

.categories,
.offers,
.recomendations,
.bestsellers,
.new,
.parts {
  width: 100%;
  min-height: 400px;
  padding: 20px;
  color: black;
  font-family: sans-serif;
  position: relative;
  font-size: 30px;
  column-gap: 30px;
}

.categories h1,
.offers h1,
.recomendations h1,
.bestsellers h1,
.new h1,
.parts h1{
  font-weight: 500;
}

.categories_list,
.offer_list,
.recomendations_list,
.bestsellers_list,
.new_list,
.parts_list {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.offer_card {
  width: 40%;
  height: 300px;
  background-color: red;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: -25px;
}
.category_card {
  width: 340px;
  height: 220px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.bestsellers_card {
  width: 236px;
  height: 284px;
  border-radius: 20px;
  padding: 20px 25px 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.recomendation_card {
  width: 236px;
  height: 284px;
  border-radius: 20px;
  padding: 20px 25px 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.new_card {
  width: 30%;
  height: 250px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 20px;
  background-color: white;
  border: 1px solid #a38a68;
  background-image: url(../images/backgroundimg.jpg);
}

.parts_card {
  width: 30%;
  height: 250px;
  border-radius: 20px;
  padding: 20px 10px 10px 30px;
}

.categories_logo {
  width: 70px;
  height: 70px;
  flex-shrink: 0;
  display: flex;
}

.offer_card,
.category_card,
.bestsellers_card,
.recomendation_card,
.parts_card {
  background-color: white;
  border: 1px solid #a38a68;
  background-image: url(../images/backgroundimg.jpg);
}

.offer_p, 
.categories_p,
.bestsel_p,
.new_p,
.part_p,
.recomend_p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  color: #000000;
}
.categories_p {
  width: 110px;
  font-size: 32px;
  font-style: normal;
  line-height: normal;
}

.recomend_p {
  width: 200px;
  height: 100px;
  font-size: 20px;
}

.offer_img {
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-self: baseline;
  justify-self: flex-end;
}

.offer_p {
  font-size: 20px;
}

.recomend_img {
  width: 200px;
  height: 200px;
}

.bestsel_img {
  width: 116px;
  height: 174px;
  flex-shrink: 0;
  display: flex;
  justify-self: center;
}

.bestsel_p {
  width: 210px;
  height: 48px;
  flex-shrink: 0;
  font-size: 15px;
  font-style: normal;
  line-height: normal;
}

.new_img {
  width: 200px;
  height: 200px;
  display: flex;
}

.new_p{
  width: 150px;
  font-size: 25px;
}

.part_img{
  width: 30%;
  height: 70%
}

.seemore_button{
display: flex;
width: 100%;
height: 46px;
padding: 10px 19px;
justify-content: flex-end;
align-items: center;
gap: 8px;
flex-shrink: 0;
}

.seemore_button a{
color: #302923;
text-align: center;
font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  color: #000000;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.32px;
text-transform: capitalize;
padding: 10px 19px 10px 19px;
background-color: rgb(93, 174, 240);
border-radius: 20px;
}


.product_card{
  flex: 1 0 calc(25% - 20px); /* Each box takes up one quarter of the container's width */
  margin: 10px; /* Optional: Add margin between boxes */
  border: 1px solid #ccc;
  padding: 20px;
  height: 250px;
  text-align: center;
  box-sizing: border-box; /* Ensure padding and border are included in box's dimensions */
border-radius: 20px;
background-image: url(../images/backgroundimg.jpg);
}
 

.product_list{
  display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto; /* Centers the container horizontally */
    padding: 20px;
    margin-bottom: 30px;
    
  }

  .offer_card,
  .category_card,
  .bestsellers_card,
  .recomendation_card,
  .new_card,
  .parts_card {
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
  }
  
  .offer_card:hover,
  .category_card:hover,
  .bestsellers_card:hover,
  .recomendation_card:hover,
  .new_card:hover,
  .parts_card:hover {
    transform: scale(1.05); /* Scale the card up by 5% on hover */
  }

  .product_card {
    width: 200px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    background-color: #f0f0f0; /* Example background color */
    border: 1px solid #ccc; /* Example border */
    margin: 10px; /* Adjust margin as needed */
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
  }
  
  .product_card:hover {
    transform: scale(1.05); /* Scale the card up by 5% on hover */
  }
  footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: rgba(84, 6, 156, 0.767); /* Adjusted background color */
    padding: 20px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto; /* Increased height to 10% of the viewport height */
    z-index: 1000; /* Ensure footer is above other content */
    padding: 40px 100px 20px 100px;
  }
  
 .shoebox h1{
  color: white;
  display: flex;
  width: 204px;
    font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: capitalize;height: 24px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;  
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  height: 24px;
 }

 .footer_div{
  display: flex;
  flex-direction: row;
  gap: 10px;
 }

 .footerlogo_div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
 }

 .minishoebox{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-direction: column;
 }


 .footer_img{
  width: 18px;
height: 18px;
flex-shrink: 0;
 }

 .footer_div a{
    color: white;
 }

 .footerlogo_img{
  width: 32px;
height: 32px;
 }

 .shoebox{
  display: flex;
  justify-content: space-between;
  gap: 60vw;
 }

 .shoebox2{
  display: flex;
  flex-direction: column;
  gap: 20px;
 }
 .content-wrapper {

  max-width: 532px; /* Limiting the max-width to 800px *
  padding: 20px; /* Adding padding for spacing */
  box-sizing: border-box; /* Ensuring padding is included in width calculation */
}

.textdiv {
  margin-bottom: 20px; /* Adjust margin as needed */
}

.text_h3 {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 40px; /* Adjust size as needed */
  line-height: 1.2;
}

.text_h2 {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 60px; /* Adjust size as needed */
  line-height: 1.2;
}

.text_red {
  color: red;
}

.general_p {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 20px; /* Adjust size as needed */
  line-height: 1.5;
  margin: 0;
}


.paragraph-wrapper {
  max-width: 532px; /* Adjust if needed */
  padding: 20px; /* Adjust padding as needed */
  box-sizing: border-box; /* Ensure padding is included in width calculation */
}


.main_content_wrapper {
  display: flex;
  flex-direction:row;
  justify-content: space-between; /* Adds space between the two content wrappers */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  gap: 50px;
}
  
  .content-wrapper.second {
    max-width: 650px; /* Adjusted to accommodate the width of the inner divs */
    padding: 20px;
    box-sizing: border-box;
    margin: 20px;
  
    display: flex;
    flex-direction: column; /* Stack items vertically */
    gap: 40px; 
    
  }
  

.customdiv {
  height: 440px;
    width: 100%; /* Default width */
    width: 610px; /* Maximum width */
    margin: 0 auto; /* Center align */
    box-sizing: border-box; /* Include padding and border in width calculation */
    background-color: white;
    border: 3px solid #A9A9A9;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('https://images.unsplash.com/photo-1601933552240-d6b9e8e01cdc?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: 50% auto, cover; /* Half of the width and cover the other half */
   }

   .customdiv2{
    height: 440px;
      width: 100%; /* Default width */
      width: 610px; /* Maximum width */
      margin: 0 auto; /* Center align */
      box-sizing: border-box; /* Include padding and border in width calculation */
      background-color: white;
      border: 3px solid #A9A9A9;
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('https://thumbs.dreamstime.com/b/computer-cleaning-main-parts-brush-33678213.jpg');
      background-size: 50% auto, cover; /* Half of the width and cover the other half */
     }
  
   

  .inner-div{
    width: 100%;
    height: 85px;
    background-color: rgb(211, 74, 74);
    padding: 20px 0px 20px 30px;
    /* Additional styles for .inner-div */
}

.inner-div h2, .inner-div2 h2{
  font-size: 45px;
  color: white; /* Adjust text color as needed */
  margin: 0; /* Remove any default margins */
  padding: 0; /* Remove any default padding */
}
 .inner-div2{
  width: 100%;
  height: 85px;
  background-color: rgb(73, 192, 73);
  padding: 20px 0px 20px 30px;
} 
.main_inner_div {
  width: 295px;
  height: 115px;
  margin: 15px 0 0 15px; /* 15px margin from the top and left, 0 margin from the right and bottom */
  padding: 10px; /* Adjust padding as needed */
}

.main_inner_div p{
  color: #000000;
  font-size: 15px;
 
}


.get-in-touch {
  width: 136px;
  height: 45px;
  background-color: #FFFFFF;
  padding: 12px 24px;
  border: 3px solid #A9A9A9;
  margin-left: 20px;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease; /* Smooth transition */

  /* Center the text */
  display: flex;
  justify-content: center;
  align-items: center;
}

.get-in-touch_div{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.get-in-touch2{
  width: 198px;
  height: 45px;
  background-color: #FFFFFF;
  padding: 12px 24px;
  border: 3px solid #A9A9A9;
  margin-left: 20px;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease; /* Smooth transition */

  /* Center the text */
  display: flex;
  justify-content: center;
  align-items: center;
}

.get-in-touch a, .get-in-touch2 a{
  font-size: 15px;
  color: #666666;
  text-decoration: none;
}

.get-in-touch:hover {
  background-color: #F5F5F5; /* Lighter background color on hover */
  border-color: #CCCCCC; /* Lighter border color on hover */
}

.get-in-touch2:hover {
  background-color: #F5F5F5; /* Lighter background color on hover */
  border-color: #CCCCCC; /* Lighter border color on hover */
}
@media only screen and (max-width: 720px) {
  nav {
    display: none;
  }

  #burger-menu {
    display: block;
  }
}


@media only screen and (max-width: 450px) {
  .landing h1 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 750px) {
  .offer_card p {
    font-size: 20px;
  }

}

@media only screen and (max-width: 1200px) {
  .part_p{
    font-size: 20px;
    width: 80px;
  }
  .part_img{
    width: 70px;
    height: 70px;
  }
}


@media only screen and (max-width: 750px) {
  .offer_img,
  .bestsel_img {
    width: 150px;
    height: 150px;
  }
}

@media only screen and (max-width: 750px) {
  .bestsellers_card {
    padding: 70px 30px;
  }
}

@media only screen and (max-width: 750px) {
  .recomendations_list,
  .new_list,
  .parts_list,
  .offer_list {
    display: flex;
    flex-direction: column;
  }
  .recomendation_card,
  .parts_card,
  .offer_card,
  .category_card,
  .bestsellers_card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .recomendation_card {
    flex-direction: column;
  }
}

@media only screen and (max-width: 800px) {
  .new_p {
    font-size: 10px;
  }
  .new_img {
    width: 100px;
    height: 100px;
  }
}

@media only screen and (max-width: 1400px) {
  .new_p {
    font-size: 15px;
  }
  .new_img {
    width: 100px;
    height: 100px;
  }
}

@media only screen and (max-width: 750px) {
  .new_list,
  .parts_list {
    display: flex;
    flex-direction: column;
  }
  .new_card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .recomendation_card {
    flex-direction: column;
  }
}
@media only screen and (max-width: 400px) {
  .bestsel_p {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    width: 100px;
  }
}

@media only screen and (max-width: 400px) {
  .recomend_p {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    width: 100px;
  }
  .recomend_img {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 900px) {
  .product_card{
      flex-basis: calc(50% - 20px); /* One box per row on smaller screens */
      height: 200px;
      width: 100%;
    }

}


@media (max-width: 800px) {
  .product_card {
    flex-basis: calc(50% - 20px); /* Two boxes per row on smaller screens */
    height: 200px; /* Adjust height as needed */
    width: 100%;
    gap: 20px;
  }
}

/* Ensure boxes wrap into 1 column on very small screens */
@media (max-width: 480px) {
  .product_card {
    flex-basis: calc(100% - 20px); /* One box per row on very small screens */
    height: 200px;
  }
}

@media (max-width: 1200px) {
  .shoebox{
    display: flex;
    justify-content: space-between;
    gap: 20vw;
   }
}

@media (max-width: 660px) {
  .shoebox{
   display: flex;
   flex-direction: column;
   column-gap: 50px;
   }
   .product_list {
    margin-bottom: 20px;  
  }
}

@media (max-width: 1200px) {
  .text_h2 {
    font-size: 36px;
  }
  .text_h3 {
    font-size: 24px;
  }
  .general_p {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .textdiv {
    padding: 15px;
  }
  .text_h2 {
    font-size: 32px;
  }
  .text_h3 {
    font-size: 20px;
  }
  .general_p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .text_h2 {
    font-size: 28px;
  }
  .text_h3 {
    font-size: 18px;
  }
  .general_p {
    font-size: 12px;
  }
}

@media (max-width: 1200px) {
  .text_h2 {
    font-size: 36px;
  }
  .text_h3 {
    font-size: 24px;
  }
  .general_p {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .textdiv {
    padding: 15px;
  }
  .text_h2 {
    font-size: 32px;
  }
  .text_h3 {
    font-size: 20px;
  }
  .general_p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .text_h2 {
    font-size: 28px;
  }
  .text_h3 {
    font-size: 18px;
  }
  .general_p {
    font-size: 12px;
  }
}
@media (max-width: 1150px) {
  .main_content_wrapper {
    flex-direction: column; /* Stack items vertically on smaller screens */
  }

  .content-wrapper,
  .content-wrapper.second {
    margin-bottom: 10px; /* Reduce margin for smaller screens */
  }
}

@media (max-width: 768px) {
  .customdiv {
    width: calc(100% - 40px); /* Adjust width for smaller screens */
    max-width: 100%; /* Allow it to take full width on smaller screens */
    padding: 10px; /* Reduce padding */
  }
}

@media (max-width: 768px) {
  .customdiv {
    margin-bottom: 15px; /* Adjust for smaller screens */
  }
}

@media (max-width: 480px) {
  .customdiv {
    margin-bottom: 10px; /* Further adjust for mobile screens */
  }
}

